    .heading{
            color: red;
    }

    .capitalPara{
            background-color: beige;
    }

   #heading2{
            background-color: pink;
    }

    .dimension{

    }

    p{
        border-color: lightgreen;
        border-width: 10px;
        border-style: ridge;
        margin: 5px;
    }

    span{
        padding: 0px 5px;
        border-top: 2px solid black;
        border-bottom: 4px solid gray;
    }